{
  "Version": 2,
  "Defaults": {
    "solid": "Collide",
    "world": "Collide",
    "trigger": "Trigger",
    "ladder": "Ignore",
    "water": "Trigger"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "trigger",
      "b": "playerclip",
      "r": "Ignore"
    },
    {
      "a": "trigger",
      "b": "solid",
      "r": "Trigger"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "soft_midline",
      "b": "solid",
      "r": "Ignore"
    },
    {
      "a": "soft_midline",
      "b": "barrier_player",
      "r": "Collide"
    },
    {
      "a": "soft_midline",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "barrier_player",
      "b": "world",
      "r": "Collide"
    },
    {
      "a": "barrier_player",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "barrier_player",
      "b": "barrier_player",
      "r": "Collide"
    },
    {
      "a": "barrier_player",
      "b": "trigger",
      "r": "Trigger"
    },
    {
      "a": "barrier_player",
      "b": "playerclip",
      "r": "Collide"
    }
  ],
  "__guid": "3447135b-08be-4e4e-b58c-e1b953896085",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}
